
//@import '../styles/nombre-de-fichero.scss';

body {
  background-color: #302c42;
}

a {
  color: #a293df;
}
.container {
  /* background-color: #302c42; */
  height: 100vh;
  padding: 20px;
  padding-inline: 40px;

  @media screen and (max-width: 768px) {
    padding-inline: 20px;
  }
}

.main {
  display: flex;
  padding-top: 50px;
  gap: 40px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
